# Build files
*.o
*.su
*.elf
*.map

# Linux shared libs
*.so
*.so.*

# Packages
*.deb

# Build directories
build/
htop_pkg/
ncurses_pkg/

# Executables
main
slave
uart7

# Python cache
__pycache__/
*.pyc