# Build files
*.o
*.su
*.elf
*.map
.env
# Linux shared libs
*.so
*.so.*

# Packages
*.deb
.claude

# Build directories
build/
htop_pkg/
ncurses_pkg/
html/
latex/
DOCS/

# Executables
main
slave
uart7

# Python cache
__pycache__/
*.pycd